<a href="https://colab.research.google.com/github/Sagu12/all-projects/blob/master/Personaliized_news_interest_and_recommmendation_based_on_news_clickability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from pandas.io.json import json_normalize
import json
import re
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download("popular")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [2]:
df= pd.read_json("/content/drive/MyDrive/enhanceduserdatabeta1.json", lines=True)

In [3]:
df.head()

                  _index  ...                                            _source
0  enhanceduserdatabeta1  ...  {'publisher_id': '49491', 'date': '2020-04-22'...
1  enhanceduserdatabeta1  ...  {'publisher_id': '49491', 'date': '2020-04-22'...
2  enhanceduserdatabeta1  ...  {'publisher_id': '49491', 'date': '2020-04-22'...
3  enhanceduserdatabeta1  ...  {'publisher_id': '49491', 'date': '2020-04-22'...
4  enhanceduserdatabeta1  ...  {'publisher_id': '49491', 'date': '2020-04-22'...

[5 rows x 5 columns]

In [4]:
source=pd.json_normalize(df._source)

In [5]:
source.head(2)

  publisher_id        date country  ...  tag publishDatev1 section
0        49491  2020-04-22          ...  NaN           NaN     NaN
1        49491  2020-04-22          ...  NaN           NaN     NaN

[2 rows x 76 columns]

In [6]:
con= pd.concat([df, source], axis=1)

In [7]:
con= con.drop("_source", axis=1)

In [8]:
con["refcurrentoriginal"]= con["refcurrentoriginal"].astype("str")

In [9]:
con['result'] = con['refcurrentoriginal'].map(lambda x: x.lstrip('https://m. www').rstrip('aAbBcC'))

In [ ]:
ps= WordNetLemmatizer()
corpus=[]
for i in range(0,len(con)):
  print(i)
  review= re.sub("[^a-zA-Z]", " ", con["result"][i])
  review= review.lower()
  review= review.split()
  review= [ps.lemmatize(word) for word in review if not word in stopwords.words("english")]
  review= " ".join(review)
  corpus.append(review)

In [12]:
con["actual_news"]= corpus

In [13]:
con.head(2)

                  _index  ...                                        actual_news
0  enhanceduserdatabeta1  ...  aajtak khabare ab tak story caste based census...
1  enhanceduserdatabeta1  ...    aajtak karyakrams da tak video crime woman stop

[2 rows x 82 columns]

In [14]:
con.drop(["result", "refcurrentoriginal"], axis=1, inplace=True)

In [27]:
con.shape

(107600, 80)

In [21]:
con_updated= con[["ip","engagementTime","gender","visitor_id","actual_news","audience_segment"]]

In [22]:
con_updated.head(2)

                                                  ip  ...  audience_segment
0  2409:4052:887:1836:1d8f:8a33:34b5:f29d, 64.233...  ...
1  2405:204:1299:b635:7e57:1081:c615:95d9, 64.233...  ...

[2 rows x 6 columns]

In [23]:
con_updated.isnull().sum()

ip                     0
engagementTime      8116
gender              8129
visitor_id             0
actual_news            0
audience_segment       0
dtype: int64

In [24]:
con_updated= con_updated[con_updated.actual_news != "nan"]

In [26]:
con_updated.isna().sum()

ip                  0
engagementTime      0
gender              0
visitor_id          0
actual_news         0
audience_segment    0
dtype: int64

In [28]:
con_updated.shape

(99471, 6)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectornews = vectorizer.fit_transform(con_updated["actual_news"])

In [31]:
from sklearn.decomposition import LatentDirichletAllocation

In [32]:
LDA = LatentDirichletAllocation(n_components=23, random_state=42)

In [33]:
topic_values = LDA.fit_transform(vectornews)

In [34]:
con_updated['audience_segment_updated'] = topic_values.argmax(axis=1)

In [35]:
con_updated.head(2)

                                                  ip  ...  audience_segment_updated
0  2409:4052:887:1836:1d8f:8a33:34b5:f29d, 64.233...  ...                        21
1  2405:204:1299:b635:7e57:1081:c615:95d9, 64.233...  ...                        21

[2 rows x 7 columns]

In [40]:
import numpy as np

In [100]:
data= con_updated.groupby(['ip', 'audience_segment_updated']).size().unstack().fillna(0)

In [101]:
data

audience_segment_updated   0    1    2    3    4   ...   18   19   20   21   22
ip                                                 ...
1.120.96.87               0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
1.126.105.168             0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
1.127.105.71              0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0
1.127.109.114             0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0
1.129.107.192             0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
...                       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
99.40.239.168             0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
99.46.72.90               0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0
99.6.202.121              0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0
99.9.237.130              0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0  0.0  0.0
99.92.214.47              0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0

[88131 rows x 23 columns]

In [102]:
data[0].values

array([0., 0., 0., ..., 0., 0., 0.])

In [103]:
data.dtypes

audience_segment_updated
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
dtype: object

In [104]:
first=data[0].values
second=data[1].values
third=data[2].values
fourth=data[3].values
fifth=data[4].values
sixth=data[5].values
seventh=data[6].values
eighth=data[7].values
ninth=data[8].values
tenth=data[9].values
eleventh=data[10].values
twelveth=data[11].values
thirteenth=data[12].values
fourteenth=data[13].values
fifteenth=data[14].values
sixteenth=data[15].values
seventeenth=data[16].values
eighteenth=data[17].values
ninteenth=data[18].values
twentieth=data[19].values
twentyone=data[20].values
twentytwo=data[21].values
twentythree=data[22].values
#twentyfour=data[23].values

In [105]:
Total= first+second+third+fourth+fifth+sixth+seventh+eighth+ninth+tenth+eleventh+twelveth+thirteenth+fourteenth+fifteenth+sixteenth+seventeenth+eighteenth+ninteenth+twentieth+twentyone+twentytwo+twentythree

In [106]:
data['Total']=Total

In [107]:
data.Total.value_counts()

1.0      81662
2.0       5251
3.0        790
4.0        192
5.0         79
6.0         49
7.0         18
8.0         16
10.0        10
9.0          9
17.0         5
11.0         5
18.0         3
20.0         3
16.0         3
24.0         3
22.0         2
63.0         2
13.0         2
38.0         2
52.0         1
67.0         1
29.0         1
34.0         1
33.0         1
25.0         1
48.0         1
41.0         1
79.0         1
26.0         1
19.0         1
70.0         1
14.0         1
23.0         1
78.0         1
709.0        1
36.0         1
53.0         1
576.0        1
144.0        1
27.0         1
12.0         1
109.0        1
55.0         1
40.0         1
Name: Total, dtype: int64

In [108]:
data['firstbytotal']= first/Total
data['secondbytotal']= second/Total
data['thirdbytotal']= third/Total
data['fourthbytotal']= fourth/Total
data['fifthbytotal']= fifth/Total
data['sixthbytotal']= sixth/Total
data['seventhbytotal']= seventh/Total
data['eighthbytotal']= eighth/Total
data['ninthbytotal']= ninth/Total
data['tenthbytotal']= tenth/Total
data['elevbytotal']= eleventh/Total
data['twelvbytotal']= twelveth/Total
data['thirteenbytotal']= thirteenth/Total
data['fourteenbytotal']= fourteenth/Total
data['fifteenbytotal']= fifteenth/Total
data['sixteenbytotal']= sixteenth/Total
data['seventeenbytotal']= seventeenth/Total
data['eighteenbytotal']= eighteenth/Total
data['ninteenbytotal']= ninteenth/Total
data['twentybytotal']= twentieth/Total
data['twentyonebytotal']= twentyone/Total
data['twentytwobytotal']= twentytwo/Total
data['twentythreebytotal']= twentythree/Total
#data['twentyfourbytotal']= twentyfour/Total

In [109]:
totalSum=np.sum(data['Total'])
print(totalSum)

99471.0

In [110]:
data['PtClick']=data['Total']/totalSum

In [111]:
data.head()

audience_segment_updated    0    1  ...  twentythreebytotal  PtClick
ip                                  ...
1.120.96.87               0.0  0.0  ...                 0.0  0.00001
1.126.105.168             0.0  0.0  ...                 0.0  0.00001
1.127.105.71              0.0  0.0  ...                 0.0  0.00001
1.127.109.114             0.0  0.0  ...                 0.0  0.00001
1.129.107.192             0.0  0.0  ...                 0.0  0.00001

[5 rows x 48 columns]

In [113]:
#taking equal chances of getting different segments of articles so our constant according to assumption will be 0.043 as per 1/23 output

data["interestfirst"]= (data.firstbytotal * data.PtClick) / 0.043
data["interestsecond"]= (data.secondbytotal * data.PtClick) / 0.043
data["interestthird"]= (data.thirdbytotal * data.PtClick) / 0.043
data["interestfourth"]= (data.fourthbytotal * data.PtClick) / 0.043
data["interestfifth"]= (data.fifthbytotal * data.PtClick) / 0.043
data["interestsixth"]= (data.sixthbytotal * data.PtClick) / 0.043
data["interestseventh"]= (data.seventhbytotal * data.PtClick) / 0.043
data["interesteighth"]= (data.eighthbytotal * data.PtClick) / 0.043
data["interestninth"]= (data.ninthbytotal * data.PtClick) / 0.043
data["interesttenth"]= (data.tenthbytotal * data.PtClick) / 0.043
data["interesteleven"]= (data.elevbytotal * data.PtClick) / 0.043
data["interesttwelve"]= (data.twelvbytotal * data.PtClick) / 0.043
data["interestthirteen"]= (data.thirteenbytotal * data.PtClick) / 0.043
data["interestfourteen"]= (data.fourteenbytotal * data.PtClick) / 0.043
data["interestfifteen"]= (data.fifteenbytotal * data.PtClick) / 0.043
data["interestsixteen"]= (data.sixteenbytotal * data.PtClick) / 0.043
data["interestseventeen"]= (data.seventeenbytotal * data.PtClick) / 0.043
data["interesteighteen"]= (data.eighteenbytotal * data.PtClick) / 0.043
data["interestninteen"]= (data.ninteenbytotal * data.PtClick) / 0.043
data["interesttwenty"]= (data.twentybytotal * data.PtClick) / 0.043
data["interesttwentyone"]= (data.twentyonebytotal * data.PtClick) / 0.043
data["interesttwentytwo"]= (data.twentytwobytotal * data.PtClick) / 0.043
data["interesttwentythree"]= (data.twentythreebytotal * data.PtClick) / 0.043

In [115]:
data

audience_segment_updated    0    1  ...  interesttwentytwo  interesttwentythree
ip                                  ...
1.120.96.87               0.0  0.0  ...                0.0                  0.0
1.126.105.168             0.0  0.0  ...                0.0                  0.0
1.127.105.71              0.0  0.0  ...                0.0                  0.0
1.127.109.114             0.0  0.0  ...                0.0                  0.0
1.129.107.192             0.0  0.0  ...                0.0                  0.0
...                       ...  ...  ...                ...                  ...
99.40.239.168             0.0  0.0  ...                0.0                  0.0
99.46.72.90               0.0  0.0  ...                0.0                  0.0
99.6.202.121              0.0  0.0  ...                0.0                  0.0
99.9.237.130              0.0  0.0  ...                0.0                  0.0
99.92.214.47              0.0  0.0  ...                0.0                  0.0

[88131 rows x 71 columns]

## The above data represents the interest of individual user on different segments of news based on the clickability of the same.

In [116]:
data.to_csv("click_interest.csv")