<a href="https://colab.research.google.com/github/Sagu12/all-projects/blob/master/Rainfall_Analysis_using_sweetviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pyforest

In [0]:
from pyforest import *

In [0]:
df= pd.read_csv("/content/Dynamic_2017_2_0.csv")

df

     S.no.  ... Stage of Ground Water Extraction (%)
0        1  ...                                88.96
1        2  ...                                58.92
2        3  ...                                21.17
3        4  ...                                38.57
4        5  ...                                68.68
..     ...  ...                                  ...
684    685  ...                                83.10
685    686  ...                                60.60
686    687  ...                               101.99
687    688  ...                                15.62
688    689  ...                                68.68

[689 rows x 16 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   S.no.                                                                 689 non-null    int64
 1   Name of State                                                         689 non-null    object
 2   Name of District                                                      689 non-null    object
 3   Recharge from rainfall During Monsoon Season                          684 non-null    float64
 4   Recharge from other sources During Monsoon Season                     684 non-null    float64
 5   Recharge from rainfall During Non Monsoon Season                      684 non-null    float64
 6   Recharge from other sources During Non Monsoon Season                 684 non-null    float64
 7   Total Annual Ground Water Recharge                                    684 non-null    float64
 8   Total Natural Discharges                                              684 non-null    float64
 9   Annual Extractable Ground Water Resource                              684 non-null    float64
 10  Current Annual Ground Water Extraction For Irrigation                 684 non-null    float64
 11  Current Annual Ground Water Extraction For Domestic & Industrial Use  689 non-null    float64
 12  Total Current Annual Ground Water Extraction                          684 non-null    float64
 13  Annual GW Allocation for Domestic Use as on 2025                      684 non-null    float64
 14  Net Ground Water Availability for future use                          684 non-null    float64
 15  Stage of Ground Water Extraction (%)                                  684 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 86.2+ KB

In [0]:
df= df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 684 entries, 0 to 688
Data columns (total 16 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   S.no.                                                                 684 non-null    int64
 1   Name of State                                                         684 non-null    object
 2   Name of District                                                      684 non-null    object
 3   Recharge from rainfall During Monsoon Season                          684 non-null    float64
 4   Recharge from other sources During Monsoon Season                     684 non-null    float64
 5   Recharge from rainfall During Non Monsoon Season                      684 non-null    float64
 6   Recharge from other sources During Non Monsoon Season                 684 non-null    float64
 7   Total Annual Ground Water Recharge                                    684 non-null    float64
 8   Total Natural Discharges                                              684 non-null    float64
 9   Annual Extractable Ground Water Resource                              684 non-null    float64
 10  Current Annual Ground Water Extraction For Irrigation                 684 non-null    float64
 11  Current Annual Ground Water Extraction For Domestic & Industrial Use  684 non-null    float64
 12  Total Current Annual Ground Water Extraction                          684 non-null    float64
 13  Annual GW Allocation for Domestic Use as on 2025                      684 non-null    float64
 14  Net Ground Water Availability for future use                          684 non-null    float64
 15  Stage of Ground Water Extraction (%)                                  684 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 90.8+ KB

In [0]:
#!pip install sweetviz

In [0]:
import sweetviz

In [0]:
my_report= sweetviz.analyze([df,"df"], target_feat="Net Ground Water Availability for future use")

:FEATURES DONE:                    |█████████████████████| [100%]   00:12  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [0]:
my_report.show_html("Report.html")