<a href="https://colab.research.google.com/github/Sagu12/all-projects/blob/master/Recommendation_system_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyforest

Requirement already satisfied: pyforest in /usr/local/lib/python3.6/dist-packages (1.0.3)

In [0]:
from pyforest import *

#Collaborative and Content based filtering for movies

In collaborative filtering we mainly see the similarity of movies watched by multiple users and based on that the recommendation for the next movie is given.

In content based filtering we mainly see the degree of movies watched by a single user of a particular jonor and based on that we give the recommendation for the next movie to the user.

The previous example of recommendation system that we did was of content based filtering where based on the ratings we were recommending the movied to the user.

In [6]:
movies_df= pd.read_csv("/content/movies.csv",usecols=["movieId","title"], dtype={"movieId":"int32","title":"str"})

In [7]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [8]:
ratings_df= pd.read_csv("/content/ratings.csv", usecols=["userId","movieId","rating"], dtype={"userId":"int32","movieId":"int32","rating":"float32"})

In [9]:
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
df= pd.merge(ratings_df,movies_df, on="movieId")

In [11]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int32
 1   movieId  100836 non-null  int32
 2   rating   100836 non-null  float32
 3   title    100836 non-null  object
dtypes: float32(1), int32(2), object(1)
memory usage: 2.7+ MB

In [0]:
#combining the movie rating and counting the total number of ratings per moovie by using pandas group by function and taking into consideration the rating columns

In [0]:
combine_movie_rating= df.dropna(axis=0, subset=["title"])

In [15]:
combine_movie_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int32
 1   movieId  100836 non-null  int32
 2   rating   100836 non-null  float32
 3   title    100836 non-null  object
dtypes: float32(1), int32(2), object(1)
memory usage: 2.7+ MB

In [16]:
combine_movie_rating.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [0]:
#important steps to note

movie_ratingCount= (combine_movie_rating.groupby(by=["title"])["rating"].count().reset_index().rename(columns={"rating":"totalRatingCount"})[["title","totalRatingCount"]])

In [18]:
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [0]:
#this indicates the total ratings for the movie

In [20]:
combine_movie_rating.rating.value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [21]:
rating_with_totalRatingCount= pd.merge(combine_movie_rating,movie_ratingCount,on="title")

In [22]:
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [23]:
rating_with_totalRatingCount["totalRatingCount"].describe()

count    100836.000000
mean         58.758777
std          61.965384
min           1.000000
25%          13.000000
50%          39.000000
75%          84.000000
max         329.000000
Name: totalRatingCount, dtype: float64

In [0]:
popularity_threshold= 50
#important step to query the movies which are greater than the threshold of 50

rating_popular_movies= rating_with_totalRatingCount.query("totalRatingCount>=@popularity_threshold")

In [25]:
rating_popular_movies.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [26]:
rating_popular_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41362 entries, 0 to 79252
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userId            41362 non-null  int32
 1   movieId           41362 non-null  int32
 2   rating            41362 non-null  float32
 3   title             41362 non-null  object
 4   totalRatingCount  41362 non-null  int64
dtypes: float32(1), int32(2), int64(1), object(1)
memory usage: 1.4+ MB

In [27]:
rating_popular_movies.shape

(41362, 5)

In [0]:
#using pivot table to see the data with respect to user id and title

In [0]:
movie_features_df= rating_popular_movies.pivot_table(index="title", columns="userId", values="rating").fillna(0)

In [30]:
movie_features_df

userId                             1    2    3    4    ...  607  608  609  610
title                                                  ...
10 Things I Hate About You (1999)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
12 Angry Men (1957)                0.0  0.0  0.0  5.0  ...  0.0  0.0  0.0  0.0
2001: A Space Odyssey (1968)       0.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  4.5
28 Days Later (2002)               0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  5.0
300 (2007)                         0.0  0.0  0.0  0.0  ...  0.0  5.0  0.0  4.0
...                                ...  ...  ...  ...  ...  ...  ...  ...  ...
X2: X-Men United (2003)            0.0  0.0  0.0  0.0  ...  0.0  4.0  0.0  4.0
You've Got Mail (1998)             0.0  0.0  0.5  0.0  ...  0.0  0.0  0.0  0.0
Young Frankenstein (1974)          5.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
Zombieland (2009)                  0.0  3.0  0.0  0.0  ...  0.0  0.0  0.0  3.5
Zoolander (2001)                   0.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  4.0

[450 rows x 606 columns]

In [0]:
d=movie_features_df.values.reshape([1,-1])

In [38]:
d.shape

(1, 272700)

In [35]:
movie_features_df.values.shape

(450, 606)

#Cosine similarity

cosine similarity works on the principle of angular distance between two vectors and based on the degree of angle the vectors are making theor semanticity with each other is decided. Here 1 means full similarity and 0 means no similarity that is 0%.

formula for cos theta= A.B / |A||B|

|| means magnitude or modulus or we can say the determinant of A and B

Now here we will use the cosine similarity and K Nearest Neighbor concept to solve the problem of recommendation system.

In [0]:
#Now we will first convert our movie_features_df into array using the scipy library

In [0]:
from scipy.sparse import csr_matrix

In [0]:
movie_features_df_matrix= csr_matrix(movie_features_df.values)

In [46]:
movie_features_df_matrix

<450x606 sparse matrix of type '<class 'numpy.float32'>'
	with 41360 stored elements in Compressed Sparse Row format>

In [0]:
from sklearn.neighbors import NearestNeighbors

In [49]:
model_knn= NearestNeighbors(metric="cosine", algorithm="brute")
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [50]:
query_index= np.random.choice(movie_features_df.shape[0])

In [72]:
query_index

227

In [74]:
movie_features_df.index[227]

'Jumanji (1995)'

In [0]:
movie_features_df.iloc[query_index,:].values

In [56]:
movie_features_df.iloc[query_index,:].values.shape

(606,)

In [0]:
t=movie_features_df.iloc[query_index,:].values.reshape(1,-1)

In [61]:
#converting into single row and 606 columns
t.shape

(1, 606)

In [64]:
movie_features_df_matrix

<450x606 sparse matrix of type '<class 'numpy.float32'>'
	with 41360 stored elements in Compressed Sparse Row format>

Now trying to keep column as unknown. New shape as (1,-1). i.e, row is 1, column unknown. we get result new shape as (1, 12)

z.reshape(1,-1)
array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])
The above is consistent with numpy advice/error message, to use reshape(1,-1) for a single sample; i.e. single row

Reshape your data using array.reshape(1, -1) if it contains a single sample

https://stackoverflow.com/questions/18691084/what-does-1-mean-in-numpy-reshape

In [0]:
distances, indices= model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1,-1), n_neighbors=6)

In [77]:
len(distances.flatten()), len(indices.flatten())

(6, 6)

In [79]:
movie_features_df.index[indices.flatten()]
#these are the recommended movies

Index(['Jumanji (1995)', 'Lion King, The (1994)', 'Mrs. Doubtfire (1993)',
       'Mask, The (1994)', 'Jurassic Park (1993)', 'Home Alone (1990)'],
      dtype='object', name='title')

In [0]:
#for recommending the most similar movie to jumanji of index as shown above we need to get the indices of those movies and the euclidean distance or the cosine distance between those movies

In [80]:
for i in range(0, len(distances.flatten())):
  if i==0:
    print("Recommendation for {0}:\n".format(movie_features_df.index[query_index]))

  else:
    print("{0}:{1}, with distance of {2}:".format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendation for Jumanji (1995):

1:Lion King, The (1994), with distance of 0.411562442779541:
2:Mrs. Doubtfire (1993), with distance of 0.45018184185028076:
3:Mask, The (1994), with distance of 0.45501887798309326:
4:Jurassic Park (1993), with distance of 0.4619544744491577:
5:Home Alone (1990), with distance of 0.47512364387512207: